/* #Boom{
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-top: 250px;
    text-align: center;
}
#countdown{
      font-size: 50px;
      margin-bottom: 40px;
}
button{
    height: 40px;
    width: 100px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;  
}
body{
    background-color: blanchedalmond;
}
h1{
    color: cadetblue;
} */

#red{
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 50%;
}
#yellow{
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 50%;
}
#green{
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 50%;
}
#traffic{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}