body {
  margin-top: 5px !important;
  margin: 55px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f1f3f6;
}

header {
  border: none;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #047bd5;
  justify-content: space-between;
  gap: 20px;
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.lab {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.lab1 {
  display: flex;
  align-items: center;
}

.lab1 input {
  border-radius: 10px;
  width: 1000px;
  height: 30px;
  border: none;
}

.lab > img {
  height: 20px;
}

.lab4 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lab4 > img {
  height: 20px;
}

nav {
  margin: 5px;
  border: 2px solid;
  border: none;
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.lab2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.lab3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: black;
}

.big2 {
  display: flex;
  justify-content: center;
  gap: 15px;
}

p {
  text-align: center;
  font-size: 20px;
  color: rgb(51, 49, 49);
}

.big2 > .phone,
.tv,
.clothes,
.appliance {
  border-color: rgb(251, 253, 253);
  height: 120px;
  width: 400px;
  padding: 10px;
  border-radius: 15px;
}

a > h2 {
  margin-left: 10px;
  color: rgb(4, 4, 4) !important;
}

h1 {
  text-align: center;
  font-size: 48px;
  padding: 10px;
  color: #047bd5;
}

.big {
  margin: 20px;
  background-color: rgb(251, 253, 253);
  height: 400px;
  border: none;
  border-radius: 15px;
  width: 1000px;
}

#m {
  border: none;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 203, 203);
}

footer {
  display: flex;
  justify-content: space-evenly;

  height: 300px;
  background-color: rgb(34, 33, 33);
}

.social > a {
  color: aqua;
  display: flex;
}

.customer > a {
  color: aqua;
  display: flex;
}

.help > a {
  color: aqua;
  display: flex;
}

.about > a {
  color: aqua;
  display: flex;
}

h2 {
  color: white;
}

.b > p {
  background-color: black;
  color: aquamarine;
  text-align: center;
  margin-top: 0;
}
