*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;

}
h1{
    text-align: center;
}
#library{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1280px;
    margin: auto;
}
.movie{
    display: flex;
    
}
