* {
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  height: 110vh;
  width: 600px;
  border: 2px solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 10px aqua;
  gap: 50px;
  background-image: linear-gradient(#11ffbd, #aaffa9);
}
.select,
.input,
.btn,
.skills,
.radio,
.text {
  display: flex;
  flex-direction: column;
}
textarea {
  height: 40px;
  width: 200px;
}
input,
button,
textarea,
select {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
button {
  height: 50px;
  width: 400px;
  color: rgb(1, 11, 11);
  background-color: cornflowerblue;
  font-size: 25px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
