* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}
header {
  font-size: 28px;
  padding: 20px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
   border-radius: 20px;
    box-shadow:  5px 5px 5px 5px blueviolet;
}
#bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.class h2 {
  margin-left: 10px;
  font-size: 38px;
}

.b{
    background-image: url('./pexels-pixabay-358457.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
     border-radius: 20px;
    box-shadow:  5px 5px 5px 5px blueviolet;
   
}
.b h1{
    font-size: 50px;
    font-style: italic;
    color: aqua;
}
.b p{
    font-size: 40px;
    font-style: normal;
    color: black;
    
}
.me{
   margin-top: 60px;
   display: flex;  
   flex-direction: row;
   justify-content: center;
}
.imgcontainer img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow:  5px 5px 5px 5px blueviolet;

}
.me1{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 550px;
  
}
.me1 h1{
  font-size: 35px;
  margin: 10px;
}
.me1 p{
  font-size: 30px;
  margin: 10px;
  font-style: normal;
   color: transparent;
    background-image: linear-gradient(to bottom, rgb(216, 52, 235) ,rgb(81, 6, 36),rgb(0, 119, 128));
    background-clip: text;
}
.c{
  gap: 30px;
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.d{
    gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.d img{
  height: 400px;
    width: 400px;
    border-radius: 20px;
    align-items: center;
    box-shadow:  5px 5px 5px 5px blueviolet;
    
}
  