body{
    border: 2px  ;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        
}
.main{
    padding: 10px;
    border: 2px;
    border-radius: 20%;
    font-size: 15px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1028px;
    width: 100%;
    
    
    }
.class1{
    padding: 10px;
   border-radius: 20px;
    background-color:hsl(31, 77%, 52%);
height: 500px;
    width: 300px;
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.class2{
    padding: 10px;
    border-radius: 20px;
background-color: hsl(184, 100%, 22%);
height: 500px;
    width: 300px;
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.class3{
    padding: 10px;
    border-radius: 20px;
    background-color: hsl(179, 100%, 13%);
     height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.a{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    gap: 20px;

}
.b{
height: 10px black solid;
    width: 10px;
    border-radius: 5px;
    gap: 20px;
}
p{
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}
button{
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
   
}
