body{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     background-color: whitesmoke;
}
header{
    height: 450px;
    width: 100%;
    border: 2px solid black;
    background-image: url('./Image/food-bg-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    nav{
        margin-top: 20px;
        color: white;
    }
.nav-links{
    width: 45%;
}
.nav-links a{
    text-decoration: none;
    color: white;
}
.img-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.img-container img{
    height: 100px ;
}
h4{
    color: white;
}
.input-box{
    border-radius: 10px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

}
.search-box input{
   border-radius: 10px;
   border: none; 
}
.search-box{
    margin-left: 10px;
    border:none;
}
.rule{
    margin-top: 10px;
    height: 40px;
}
.cards{
    margin-right: 60px;
    height: 450px;
     display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.cards-container{
    height: 300px;
    width: 400px;
    display: flex;
    border-radius: 11px;
    margin-right: 20px ;
    /* box-shadow: 2px 2px 2px 2px; */
    border: 2px solid gray;
}

.cards-img img{
    height: 80%;
    width: 100%; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cards-img p {
    color: gray;
    margin-left: 10px;
}
.cards-img h5{
    margin-left: 10px;
}
.Collection-block a{
    text-decoration: none;
    color: red;
}
.collection-container{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.Collection-block{
    margin-left: 190px;
    margin-right: 190px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 }
.Collection-block h3{
    font-size: 30px;
    font-weight: bold;
}

.collection-container-card1{
    background-image: url('./Image/places.jpg');
     
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 450px;
    width: 320px;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 10px;
}
.collection-container-card1 span{
    margin-left: 10px;
    font-size: 20px;
}

.collection-container-card2{
    background-image: url('./Image/new-open.jpg');
     
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 450px;
    width: 320px;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 10px;
}
.collection-container-card2 span{
    margin-left: 10px;
    font-size: 20px;
}
.collection-container-card3{
    background-image: url('./Image/reg-food.jpg');
     
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 450px;
    width: 320px;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 10px;
}
.collection-container-card3 span{
    margin-left: 10px;
    font-size: 20px;
}
.collection-container-card4{
    background-image: url('./Image/catering-buffet-food.jpg');
     
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 450px;
    width: 320px;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 10px;
}
.collection-container-card4 span{
    margin-left: 10px;
    font-size: 20px;
}
.localities-container{
    margin-top: 50px;
}
.localities-container h3{
    margin-left: 190px;
    margin-bottom: 20px;
    color: grey;
}
.localities-container span{
    color: black;
}
.grid-class{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: center;
 
}
.localities-cards {
  border: 2px solid gray;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 390px;
  box-shadow: 1px 1px 1px 1px white ;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px; 
}
.text span{
    color: grey;
}
#get-the-app-container{
   background-color:bisque;
}
.img-links img{
    height: 80px;
     width: 200px;
     margin-right: 30px;
}
#nearby-places h3{
    margin-bottom: 20px;
}
.footer-details{
    width: 900px;
    margin-left: 350px;
    margin-top: 30px;
    color: grey;
}
.bhus{
    width: 300px;
}

