*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    text-align: center;
    font-size: 48px;
    padding: 20px 0px;
    background-color: crimson;
    color: white;
    box-shadow: 10px 10px 10px rgb(169, 112, 216);
}
footer{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    padding: 20px 0px;
    background-color: crimson;
    color: white;
    box-shadow: 10px 10px 10px rgb(169, 112, 216);
}
#categories{
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 2px;
}
.category{
    padding: 20px;
    background-color: blueviolet;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
.category>img{
    height:100px;
   border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.title{
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}
#deals{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    gap: 20px;
    margin: auto;
   max-width: 1280px;
    
}
.product img{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    object-position: top;
   
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   box-shadow: 10px 10px 10px rgb(112, 124, 216);
   border-radius: 20px;
   padding: 20px;

}
.oldPrice{
    text-decoration: 2px solid black line-through;
    margin: 0px 5px;
}
button{
    width: 100%;
    background-color: black;
    padding: 20px 0px;
    color:white;
    border-radius: 40px 0px 40px 0px;


}