body {
  height: 100%vh;
  background-color: gainsboro;
}
.flex {
  display: flex;
}

.box {
  height: 100px;
  box-shadow: 10px 10px 15px 10px palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 6% auto;
  border-radius: 10px;
}
.box span {
  font-size: 30px;
  font-weight: bold;
}

.wrapper {
  justify-content: space-evenly;
}
.cards {
  width: 20%;
  box-shadow: 10px 10px 15px 10px palevioletred;
  height: 800px;
  border-radius: 10px;
  /* padding: 20px; */
  background-color: white;
}
.img-container {
  height: 50%;
}
.img-container img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.txt-container {
  margin: 20px;
}
.txt-container h3 {
  font-size: 40px;
}

.txt-container p {
  font-size: 30px;
}

.btn {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.btn1 {
  background-color: rgb(89, 89, 177);
}
.btn2 {
  background-color: rgb(107, 195, 107);
}
.btn3 {
  background-color: rgb(89, 89, 177);
}